<p id="notice"><%= notice %></p>

<p style="font-size:15px">
  <b>Nombre:</b>
  <%= @branch.name %>
</p>

<p style="font-size:15px">
  <b>Ubicación:</b>
  <%= @branch.location %>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Editar', edit_branch_path(@branch), :class=>"btn btn-primary" %>
      <%= link_to 'Regresar', branches_path, :class=>"btn" %>
    <% else %>
    <% end %>
  <% elsif admin_signed_in? %>
      <%= link_to 'Editar', edit_branch_path(@branch), :class=>"btn btn-primary" %>
      <%= link_to 'Regresar', branches_path, :class=>"btn" %>

  <% end %>
</p>

<div class="row-fluid">

  <div class="span3">
    <form class="form well">
        <h3>Movimiento</h3>
        <ul style="list-style:none">
          <li><%=link_to "Enviar", new_branch_order_path(@branch), :class=>"btn btn-success", :style => "width:100px" %></li>
          <br/>
          <li><%=link_to "Entrada-Proveedor", provision_path(@branch), :class=>"btn btn-success" %></li>
          <br/>

          <li><%=link_to "Cierre del dia", stock_path(@branch), :class=>"btn btn-primary", :style => "width:100px" %></li>

          <br/>
          <li><%=link_to "Lista de Ordenes", branch_orders_path(@branch), :class=>"btn btn-primary" %></li>
          <br/>
          <li><%=link_to "Reporte del dia", branch_report_day_path(@branch), :class=>"btn btn-primary", :style => "width:100px" %></li>
          <br/>
          <li><%=link_to "Reporte por periodo", branch_date_reports_path(@branch), :class=>"btn btn-primary" %></li>

        </ul>
  </div>
</form>

    <div class="span6">

      <div class="page-header">
        <h1>Últimos Movimientos</h1>
      </div>
        <h3 style = "color:gray">Salidas</h3>
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Tipo movimiento</th>
        <th>Sucursal</th>
        <th>Destino</th>
      </tr>
    </thead>
          <%= render :partial => "orders/orders_partial", :locals => {:list_ord => @orders}%>
        </table>

        <h3 style="color:gray">Entradas</h3>
          <table class="table table-condensed">
          <thead>
            <tr>
              <th>Tipo Movimiento</th>
              <th>Sucursal</th>
              <th>Detalle orden</th>
            </tr>
          </thead>

		  <%= render :partial => "orders/orders_entry", :locals => {:entry_list => @order_list_entry}%>
        </table>

  </div>



    <div class="span3" style="float:right">

    <h2>Movimiento Pendientes</h2>
    <% if @orders_entry_pending.empty? %>
      <h4>No hay pendientes</h4>
    <% else %>
      <%= render :partial => "orders/orders_pending", :locals => {:orders_list => @orders_entry_pending}%>
    <% end %>
  </div>


</div>


