<%= form_for([@branch, @order],:html=>{:class=>"well"}) do |f| %>
  <% if @order.errors.any? %>
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>


  <fieldset>
<% if params[:m] == "1"  %>
    <%= f.hidden_field :mode, :value => 1  %>
<% else %>
    <div class="control-group">
    <%= f.label 'Tipo de transferencia', :class=>"control-label" %>
    <div class="controls">
      <%= f.select :mode,options_for_select([['Salida a OtraSucursal',1],['Salida a SiMismo',2],['Entrada de OtraSucursal',3],['Entrada de Proveedor',4],['Entrada de simismo',5]]), :include_blank=>true %>
    </div>
  </div>
<% end %>
  <div class="control-group">
  <%= f.label 'Destino Entrada', :class=>"control-label" %>
    <div class="controls">
      <%= f.collection_select(:destination, Branch.all, :id, :name) %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label 'Repartidor', :class=>"control-label" %>
    <div class="controls">
      <%= f.select(:dealer, Order::DEALER.collect {|cat| [cat,cat] },{:include_blank=>true}) %>
    </div>
  </div>


  <h3>Agregar Productos</h3>
      <form class="well form-inline">
      <%= f.fields_for :order_details do |builder|  %>
        <%= render 'order_detail_fields', {:f => builder, :condicion=>@condicion} %>
      <% end %>
    </form>
      <div id="onenter">
      <%= link_to_add_fields "+", f, :order_details %>
      </div>
  <div class="form-actions">
    <%= f.submit 'Guardar', :class=>"btn btn-primary"%>
    <%= link_to 'Regresar', branch_path(@branch), :class=>"btn" %>
  </div>
  </fieldset>
<% end %>

