<% list_ord.each do |ord| %>
<table class="table table-condensed">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
  <tr>
    <td><%= ord.mode %></td>
    <td><%= ord.dealer %></td>
    <td><%= ord.status %></td>
    <td><%= link_to 'Show', branch_order_path(@branch,order), :class=>"btn btn-primary" %></td>
    <td><%= link_to 'Edit', edit_branch_order_path(@branch,order),:class=>"btn btn-primary"  %></td>
    <td><%#= link_to 'Destroy', transfer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</tbody>
</table>


<% end  %>
