<div class="fields" >

  <%= f.label "Cantidad", :class=>"control-label" %>
  <%= f.text_field :quantity, :class=>"input-small", :placeholder=>'Cantidad', :value=>1 %>

  <%#= f.autocomplete_field :product_id, autocomplete_product_branch_order_order_details_path[@branch,@order], :id_element => '#order_order_details_product_id'%>

  <!-- <div class="ui-widget" style="display:inline-block; width:200px">--!>
    <%= f.select(:product_id, Product.all.collect {|p|[p.sku + "  " + p.name, p.id]}, {:prompt => 'Selecciona un Producto'}, :class => "enp" )%>
    <!--  </div>--!>
    <%= f.text_area :note, :rows=>"2", :placeholder=>'Agrega una Nota' %>
    <%= link_to_remove_fields "_", f %>

</div>


