<div style="margin:0px 10px 50px">
  <h2>Sucursal : <%= @branch.name  %></h2>
  <%= link_to 'Regresar', branch_path(@branch), :class=>"btn" %>
</div>


<%= form_tag branch_date_reports_path(@branch), :method=>:get, :id =>'form', :class=>"form-inline" do %>
    Inicio
    <%= text_field_tag :date, @dstart %>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#date').datepicker();
        $('#date').datepicker('option', {dateFormat: 'yy-mm-dd'});
        $('#date').val("<%= @dstart%>");
        });
    </script>

    Fin
    <%= text_field_tag :datend, @dend %>

    Producto
    <%= text_field_tag :product_name, @prodname, {:autocomplete => autocomplete_products_search_branch_orders_path, :class => "enp" }%>

    <%= hidden_field_tag 'product_id',@prod, :id => 'product_id'  %>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#datend').datepicker();
        $('#datend').datepicker('option', {dateFormat: 'yy-mm-dd'});
        $('#datend').val("<%= @dend%>");
        });
    </script>

    <%= select_tag :type, options_for_select([["Salida(Transferencia)","1"],["Entrada(Proveedor)","2"],["Entrada(Transferencia)","3"],["Cierre","4"],["Cierre(Entrada)","5"],["Cierre(Salida)","6"]]), :prompt => "Tipo de movimeinto" %>

    <%= select_tag :category, options_for_select(["SALSAS","VERDURAS","ABARROTES","GUISOS","REFRESCOS","CERVEZA"]), :prompt=> "Selecciona la Categoria"%>

    <%= submit_tag 'Buscar', :class =>"btn btn-primary" %>
  <% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#form').submit(function() {
          if($("#date").val().length < 1){
          alert("La fecha inicial es obligatoria");
          return false;
          }
          if($("#datend").val().length < 1){
          alert("La fecha final es obligatoria");
          return false;
          }

        });
      });
</script>



<div class="span8">
  <% unless @orders.empty? %>
    <p>Fecha inicio: <%= @dstart %></p>
    <p>Fecha fin: <%= @dend %></p>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Categoria</th>
        <th>Cantidad</th>
        <th>TipoOrden</th>
      </tr>
    </thead>
    <tbody>
    <% unless @orders.nil? %>
      <% @orders.each do |orden| %>
<!--Buscar un producto en especifico--!>
        <% unless @prod.blank? %>
          <% var = OrderDetail.find_by_product_id_and_order_id(@prod,orden.id) %>
          <tr>
            <td><%= var.product.name  %></td>
            <td><%= var.product.category  %></td>
            <td><%= var.quantity  %></td>
            <td><%= orden.mode  %></td>
          </tr>
        <% else %>
          <% orden.order_details.each do |product| %>
            <% unless @category.blank? %>
<!--Validar que el usuario haya seleccionado una categoria --!>
              <% if product.product.category == @category %>
                <tr>
                  <td><%= product.product.name %></td>
                  <td><%= product.product.category %></td>
                  <td><%= product.quantity %>
                  <td><%= orden.mode  %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td><%= product.product.name %></td>
                <td><%= product.product.category %></td>
                <td><%= product.quantity %>
                <td><%= orden.mode  %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
