<style type="text/css">
  #reports_form label {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
  }
  #reports_form span {
    margin-left: 10px;
    margin-right: 10px;
  }

  #see_report {
    margin-bottom: 9px;
    margin-left: 10px;
  }

  #reports-title {
    margin-bottom: 20px;
  }

  #query-terms {
    margin-top: 10px;
    margin-bottom: 10px;
  }

 #order-terms {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #results-text {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

</style>

<h2 id="reports-title">Sucursal : <%= link_to @branch.name, branch_path(@branch) %> </h2>

<h2 ><%= link_to 'Export', url_for(params.merge(:format => "csv"))%></h2>
<p>Aconsejamos seleccionar al menos un criterio de búsqueda para la consulta</p>

<%= form_tag branch_date_reports_path(@branch), :method => :get, :id => "reports_form" do %>
    <div id="query_terms">
      Inicio
      <%= text_field_tag :date_start, @date_start, :style => "width: 100px;" %>

      Fin
      <%= text_field_tag :date_end, @date_end, :style => "width: 100px;" %>

      Producto
      <%= text_field_tag :product_name, @product_name, {:autocomplete => autocomplete_products_search_branch_orders_path, :class => "enp" }%>
      <%= hidden_field_tag 'product_id', @product_id, :id => 'product_id'  %>

      <%= select_tag :order_type, options_for_select(Order::MODES.collect { |m| [order_type_text(m), m]}), :prompt => "Tipo de movimiento", :style => "width: 150px;" %>

     <%= select_tag :product_category, options_for_select(Product::CATEGORY), :prompt=> "Categoría", :style => "width: 150px;" %>

      <%= link_to 'Consultar', '#', :class => 'btn', :id => 'see_report' %>
    </div>
    <div id="order-terms">
      <strong>Ordenar por:</strong>
      <span>
      Nombre de producto
      <%= radio_button_tag "ob_product_name", "up", "up" == @ob_product_name %>
      <%= label_tag "ob_product_name_up", "A - Z", :style => "width: 150px;" %>
      <%= radio_button_tag "ob_product_name", "down", "down" == @ob_product_name %>
      <%= label_tag "ob_product_name_down", "Z - A", :style => "width: 150px;" %> </span>|
      Categoría
      <%= radio_button_tag "ob_product_category", "up", "up" == @ob_product_category %>
      <%= label_tag "ob_product_category_up", "A - Z", :style => "width: 150px;" %>
      <%= radio_button_tag "ob_product_category", "down", "down" == @ob_product_category %>
      <%= label_tag "ob_product_category_down", "Z - A", :style => "width: 150px;" %> |
      Cantidad
      <%= radio_button_tag "ob_amount", "up", "up" == @ob_amount %>
      <%= label_tag "ob_amount_up", "A - Z", :style => "width: 150px;" %>
      <%= radio_button_tag "ob_amount", "down", "down" == @ob_amount %>
      <%= label_tag "ob_amount_down", "Z - A", :style => "width: 150px;" %>

    </div>

  <% end %>

<div>
    <% if !@results.empty? %>
      <div id="results-text"><%= t(".results", :count => @results.count) %></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th># de Orden</th>
            <th>Producto</th>
            <th>Categoria</th>
            <th>Cantidad</th>
            <th>Unidades</th>
            <th>TipoOrden</th>
            <th>Precio Total</th>
          </tr>
        </thead>
        <tbody>

        <% @results.each do |od| %>
          <tr>
            <td><%= link_to od.order_id, branch_mov_prod_path(@branch, od.order) %></td>
            <td><%= od.product.name  %></td>
            <td><%= od.product.category  %></td>
            <td><%= od.quantity  %></td>
            <td><%= od.product.units %></td>
            <td><%= od.order.order_type_text %></td>
            <% precio = od.quantity*od.product.price  %>
            <td><%= precio %></td>
          </tr>
        <% end %>

        </tbody>
      </table>
    <% elsif params.length > 3 %>
      <div id="results-text">No hay resultados para esta consulta</div>
    <% end %>

</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('#date_start').datepicker();
    $('#date_start').datepicker('option', {dateFormat: 'yy-mm-dd'});
    $('#date_start').val("<%= @date_start %>");

    $('#date_end').datepicker();
    $('#date_end').datepicker('option', {dateFormat: 'yy-mm-dd'});
    $('#date_end').val("<%= @date_end %>");

    $('form#reports_form a#see_report').click(function(e) {
      e.preventDefault();
      if ($("#product_name").val() == '') {
        $("#product_id").val('');
      }
      $("form#reports_form").submit();
    });

    <% unless @product_category.blank? %>
      $("#product_category").val("<%= @product_category %>");
    <% end %>

    <% unless @order_type.blank? %>
      $("#order_type").val(<%= @order_type %>);
    <% end %>

  });
</script>
