<h1>Lista de ordenes</h1>
<div class="span10">
<table class="table table-bordered">
  <tr>
    <th>Sucursal</th>
    <th>TipoMovimiento</th>
    <th>Destino</th>
    <th>Repartidor</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
      <td><%= order.branch.name %></td>
      <% if order.mode == "1" %>
        <td>Salida</td>
      <% elsif order.mode == "3" %>
        <td>Entrada(Transferencia)</td>
      <% elsif order.mode == "2" %>
        <td>Entrada(Proveedor)</td>
      <% elsif order.mode == "4" %>
        <td>Cierre</td>
      <% elsif order.mode == "5" %>
        <td>Cierre(salida)</td>
      <% end %>

      <% if order.destination.blank? %>
        <td>""</td>
      <% else %>
        <td><%= Branch.find(order.destination).name %></td>
      <% end %>

      <% if order.dealer.blank? %>
        <td>""</td>
      <% else %>
        <td><%= order.dealer %></td>
      <% end %>

      <td><%= link_to 'Show', branch_mov_prod_path(@branch,order), :class=>"btn btn-primary" %></td>

  </tr>
<% end %>
</table>
<%= will_paginate(@orders)  %>
<%= link_to 'Regresar', branch_path(@branch), :class=>"btn" %>
</div>

