<div class="span6">
  <p>
    <b>Origen:</b>
    <%= @order.branch.name %>
  </p>
  <p>
    <b>Destino:</b>
    <%= Branch.find_by_id(@order.destination).name %>
  </p>
  <p>
    <b>Hora creación:</b>
    <%= @order.created_at.strftime("%I:%M %P") %>
  </p>

  <h3>Productos</h3>
  <div class="well">

    <% for order_detail in @order.order_details %>
      <p>
      <td><b>Cantidad:</b><%= order_detail.quantity  %></td>
      <td><%= order_detail.product.name  %></td>
      <% if @order.mode == "3" %>
        <% @dif = OrderDetail.find_by_order_id_and_product_id(@dif_ord.id,order_detail.product_id) %>
        <td><b>Diferencia:</b><%= order_detail.quantity - @dif.quantity %></td>

        <td><b> Nota: <%= @dif.note %> </b></td>
      <% end %>
    </p>
    <% end %>

    <p>
      Total : $
      <%= @total%>
    </p>
  </div>
       <%= link_to 'Aceptar', branch_path(@branch), :class=>"btn" %>

</div>


