<div class="span6">

  <% if @order.mode == '3'%>
    <% if @order.isclose == false %>
      <p>
      <b>Origen:</b>
      <%= Branch.find_by_id(@order.destination).name %>
      </p>
    <% end %>
    <p>
      <b>Destino:</b>
      <%= @order.branch.name %>
    </p>
  <% else %>
    <p>
      <b>Origen:</b>
      <%= @order.branch.name %>
    </p>
    <% if @order.isclose == false %>
      <p>
        <b>Destino:</b>
        <%= Branch.find_by_id(@order.destination).name %>
      </p>
    <% end %>
  <% end %>
  <p>
    <b>Fecha creación:</b>
    <%= @order.date %>
  </p>

  <p>
    <b>Hora creación:</b>
    <%= @order.created_at.strftime("%I:%M %P") %>
  </p>

  <h3>Productos</h3>

  <table class="table">
    <tr>
      <th>Cantidad</th>
      <th>Nombre</th>
      <% if @order.mode =="3" %>
        <th>Diferencia</th>
      <% else %>
      <% end %>
      <th>Nota</th>
    </tr>
    <% for order_detail in @order.order_details %>
    <tr>
      <td><%= order_detail.quantity  %></td>
      <td><%= order_detail.product.name  %></td>

      <% if @order.mode == "3" %>
        <% @dif = OrderDetail.find_by_order_id_and_product_id(@dif_ord.id,order_detail.product_id) %>
        <% unless @dif.nil? %>
          <td><%= order_detail.quantity - @dif.quantity %></td>
        <% end %>
      <% end %>
      <td><%= order_detail.note %></td>
    </tr>
    <% end %>
    </table>
    <p>
      Total : $
      <%= @total%>
    </p>

    <%= link_to 'Aceptar', branch_path(@branch), :class=>"btn" %>

</div>


