<div class="row-fluid">
  <div class="span3">
    <form class="form well">
        <h3>Movimiento</h3>
        <ul style="list-style:none">
          <li><%=link_to "Enviar", new_branch_order_path(@branch), :class=>"btn btn-success" %></li>
          <br/>
          <li><%=link_to "Entrada-Proveedor", provision_path(@branch), :class=>"btn btn-success" %></li>
          <br/>
          <li><%=link_to "Cierre del dia", stock_path(@branch), :class=>"btn btn-primary" %></li>
          <br/>
          <li><%= link_to 'Agregar Producto',  new_product_path, :class=>"btn btn-success", :target=>"_blank"  %></li>

        </ul>
    </form>
  </div>


  <div class="span9">
<script type="text/javascript">
    $('input.enp:last').live('keyup',function(e){
      if(e.keyCode == 13) {
        $('#enterp').trigger('click');
      };
    });

</script>
<form class="well">
<p id="notice"><%= notice %></p>
<p style="font-size:18px">
  <b>Origen Orden:</b>
  <%= @order.branch.name %>
</p>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Producto</th>
    </tr>
  </thead>
  <% for order_detail in @order.order_details %>
    <tbody>
      <tr>
        <td><%= order_detail.quantity  %></td>
        <td><%= order_detail.product.name  %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  <% end %>
</table>
  </form>

<h2>Atender Orden</h2>
<%= form_for([@branch, @order_new],:html=>{:class=>"form-inline"}) do |f| %>
  <% if @order_new.errors.any? %>

    <h2><%= pluralize(@order_new.errors.count, "error") %></h2>
      <ul>
      <% @order_new.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>
<fieldset>
  <!--Validar que es un pedido de una sucursal a otra --!>

<%= f.hidden_field :atach,:value => @order.atach%>
<%= f.hidden_field :action, :value => action_name  %>
<%= f.hidden_field :status, :value => 'complete'%>
  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>
  <!-- Tipo de orden donde se recibe una orden --!>
<% if @order.mode == '1' %>
  <%= f.hidden_field :mode, :value => '3' %>

<% else %>
  <div class="control-group">
    <%= f.label 'Tipo de transferencia', :class=>"control-label" %>
    <div class="controls">
    <%= f.select :mode, options_for_select([['Salida a OtraSucursal',1],['Salida a SiMismo',2],['Entrada de OtraSucursal',3],['Entrada de Proveedor',4],['Entrada de simismo',5]]), :include_blank=>true %>
    </div>
  </div>
<% end %>


  <div class="control-group">
  <% if @order.mode == '1' %>
    <%= f.label 'Repartidor', :class=>"control-label" %>
    <%= f.hidden_field :destination, :value => @order.branch.id %>
  <% else %> 
    <%= f.label 'Destino Entrada', :class=>"control-label" %>    
    <%= f.collection_select(:destination, Branch.all, :id,:name,:selected => @order.branch_id) %>
  <% end %>
  
  <%= f.select(:dealer, Order::DEALER.collect {|cat| [cat,cat] },{:prompt=>'Selecciona el Repartidor', :selected => @order.dealer })%>

  <%= f.text_field :date, :value => @order.date %>
   </div>
  <script type="text/javascript">
    $(document).ready(function () {
        $('#order_date').datepicker();
        $('#order_date').datepicker('option', {dateFormat: 'yy-mm-dd'});
        var myDate = new Date();
        var prettyDate = myDate.getFullYear() + '-' + (myDate.getMonth()+1) + '-' + myDate.getDate();
        $('#order_date').val(prettyDate);
    });
  </script>


  <h3>Agregar Productos<h3>

    <form class="well form-inline">
      <%= f.fields_for :order_details do |builder|  %>
          <%= render :partial =>'order_detail_fields', :locals => {:f => builder} %>
      <% end %>
    </form>

    <div id="onenter">
      <%= link_to_add_fields "+", f, :order_details %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Guardar', :class=>"btn btn-primary", :confirm => 'Desea guardar la orden?'%>
    <%= link_to 'Regresar', branch_path(@branch), :class=>"btn" %>
    </div>

  </fieldset>
<% end %>
  </div>
</div>
