<form class="well">
<p id="notice"><%= notice %></p>

<p style="font-size:18px">
  <b>Sucursal:</b>
  <%= @order.branch.name %>
</p>

<p style="font-size:18px">
  <b>Destino:</b>
  <%= @order.destination %>
</p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>

<p>
  <b>Repartidor:</b>
  <%= @order.dealer %>
</p>


<h3>Productos</h3>

  <table class="table table-condensed">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Producto</th>
    </tr>
  </thead>
  <% for order_detail in @order.order_details %>
    <tbody>
      <tr>
        <td><%= order_detail.quantity  %></td>
        <td><%= order_detail.product.name  %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  <% end %>
  </table>

</form>

<h3>Atender Orden</h3>

<%= form_for([@branch, @order_new],:html=>{:class=>"form-horizontal"}) do |f| %>
 <fieldset>

  <% if @order.errors.any? %>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>
<!-- Validar que es un pedido de una sucursal a otra --!>

<%= f.hidden_field :atach, :value => @order.atach  %>
<% if @order.mode == '1' %>
 <%= f.hidden_field :mode, :value => '2' %>

<% else %>
  <div class="control-group">
    <%= f.label 'Tipo de transferencia', :class=>"control-label" %>
    <div class="controls">
    <%= f.select :mode, options_for_select([['Pedido-Sucursal',1],['Pedido-proveedor',2],['Salida a OtraSucursal',3],['Salida a SiMismo',4],['Entrada de OtraSucursal',5],['Entrada de Proveedor',6],['Entrada de simismo',7]]), :include_blank=>true %>
    </div>
  </div>
<% end %>


  <div class="control-group">
  <%= f.label 'Destino Entrada', :class=>"control-label" %>
    <div class="controls">
    <%= f.collection_select(:destination, Branch.all, :id, :name) %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label 'Repartidor', :class=>"control-label" %>
    <div class="controls">
      <%= f.select(:dealer, Order::DEALER.collect {|cat| [cat,cat] },{:include_blank=>true}) %>
    </div>
  </div>


  <h3>Agregar Productos<h3>
      <form class="well form-inline">
      <%= f.fields_for :order_details do |builder|  %>
        <%= render 'order_detail_fields', {:f => builder, :condicion=>@condicion} %>
      <% end %>
    </form>
      <div id="onenter">
      <%= link_to_add_fields "+", f, :order_details %>
      </div>
  <div class="form-actions">
    <%= f.submit 'Guardar', :class=>"btn btn-primary"%>
    <%= link_to 'Regresar', branch_path(@branch), :class=>"btn" %>
  </div>
  </fieldset>
<% end %>

