<!DOCTYPE html>
<html>
<head>
  <title>Almacen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Almacen TacosMode', nil , :class=>"brand"  %>
      <div class="nav-collapse">
        <ul class="nav">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li class="active">
                <%= link_to 'Home', branches_path%>
              </li>
            <% else %>
            <% end %>
          <% elsif admin_signed_in? %>
            <li class="active">
              <%= link_to 'Home', branches_path%>
            </li>
          <% end %>
              <li >
                <%= link_to 'Productos', products_path %>
              </li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><a><%= current_user.email %></a></li>
            <li><%= link_to "Salir", destroy_user_session_path, :method => :delete  %></li>
          <% else %>
            <li><%= link_to 'Iniciar sesion', new_user_session_path  %></li>
          <% end %>

          <% if admin_signed_in? %>
            <li><a><%= current_admin.email  %></a></li>
            <li><%= link_to 'Usuarios', pagehome_users_path %></li>
            <li><%= link_to 'Sign_out', destroy_admin_session_path, :method => :delete  %></li>
          <% else %>
          <% end %>

        </ul>
      </div>

    </div>
  </div>
</div>
</header>

 <div class="container-fluid">
<%= yield %>
</div>
</body>
</html>
